<!DOCTYPE html>
<html>
<head>
    <title>QRTeleport</title>
    <script nonce="{{ csp_nonce() }}">var Initiator = {{Initiator}}</script>

    <script src="/static/socket.io-client/dist/socket.io.js"></script>
    <script src="/static/simple-peer/simplepeer.min.js"></script>
    <script src="/static/qrcodejs/qrcode.min.js"></script>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Welcome to QRTeleport App. Which totally works!®</h1>

    <p id="welcomeInstruction">Scan QR code below to connect to <b>this</b> device.</p>

    <div id="qrcode"></div>
    <div id="link"></div>
    <form>
        <input required type="file" id="fileInput">
        <label for="fileInput" class="custom-file-input">
            <span class="file-name">Choose File</span>
        </label>

        <button disabled="" type="button" id="sendButton">Send File</button>
    </form>

    <div id="downloadLinkDiv">

    </div>

    <div class="console-window" id="consoleWindow">
        <div id="consoleText"></div>
        <div class="console-line">|</div>

    </div>


</body>
</html>

