<!DOCTYPE html>
<html>
<head>
    <title>QRTeleport</title>
    <script nonce="{{ csp_nonce() }}">var Initiator = {{Initiator}}</script>

    <script src="/static/socket.io-client/dist/socket.io.js"></script>
    <script src="/static/simple-peer/simplepeer.min.js"></script>
    <script src="/static/qrcodejs/qrcode.min.js"></script>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Welcome to Flask App. Which Totally works!</h1>

    <p>This is a basic HTML page served by a Flask server.</p>

    <div id="qrcode"></div>
    <div id="link"></div>
    <form>
        <label for="fileInput" class="custom-file-input">Choose File</label>
        <input type="file" id="fileInput">
        <button disabled="" type="button" id="sendButton">Send File</button>
    </form>

    <div id="downloadLinkDiv">

    </div>



</body>
</html>

